/**index.wxss**/
@import "../../../static/wxss/common";
.coverview{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150rpx;
  background: #eee;
  border-top: 1px solid #ccc;
}
.back {
  position: absolute;
  bottom: 200rpx;
  left: 50rpx;
  width: 100rpx;
  height: 100rpx;
}
.center-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rpx;
  height: auto;
  margin-top:-78rpx;
  margin-left: -25rpx;
}
.index-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300rpx;
  transition:all 0.35s ease-out 0.2s;
}
.index-top-content {
  background:@gray1;
  height: 220rpx;

}
.show-col-btn {
  position: absolute;
  bottom:-1;
  left: 50%;
  transform: translate(-50%,0);
  width: 200rpx;
  height: 20rpx;
  background: @gray1;
  color: @white;
  text-align: center;
  border-bottom-left-radius: 16rpx;
  border-bottom-right-radius: 16rpx;
  cover-image {
    width: 26rpx;
    height: 12rpx;
    margin: 0 87rpx;
  }
}
.topShow {
  top: 0rpx;
}

.topHide {
  top: -220rpx;
}
.toSearch-btn {
  position: absolute;
  left: 50%;
  bottom: 20rpx;
  transform: translate(-50%,0);
  background:@white;
  color: @gray1;
  font-size: @fontTitle3;
  text-align: center;
  width: 320rpx;
  height: 70rpx;
  line-height: 70rpx;
  border-radius: 16rpx;
}